<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364495455067-7b5k69jbddr2qr18j39kuee5ep8i9fr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364495455067-7b5k69jbddr2qr18j39kuee5ep8i9fr7</string>
	<key>API_KEY</key>
	<string>AIzaSyBt2uRQSjVLyP06jEnCC4TeK7qGnEJKUWs</string>
	<key>GCM_SENDER_ID</key>
	<string>364495455067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silstone.translife</string>
	<key>PROJECT_ID</key>
	<string>translife-82e04</string>
	<key>STORAGE_BUCKET</key>
	<string>translife-82e04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364495455067:ios:8c437bcc7a3bdfd2</string>
	<key>DATABASE_URL</key>
	<string>https://translife-82e04.firebaseio.com</string>
</dict>
</plist>